*~
*.aux
*.blg
*.ilg
*.idx
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.sh
*.toc
ctuman-*.pdf

*.bbl
*.bcf
*.glg
*.glo
*.gls
*.ist
/*.pdf
*.run.xml

# presentation
*.dot
*.nav
*.snm

# MacOS
*.fdb_latexmk
*.fls
*.synctex(busy)

/inspiration/
/instructions/
/literature/
/wip/

# Jupyter
.ipynb_checkpoints/
